h1 {
    color: rgb(10, 1, 4);
    display: inline;
}
h2 { 
    color: rgb(9, 23, 224);
    display: inline;
}  
p {
    color: rgb(0, 0, 7);
}
.Rapunzel{
    float:left;
    background-color: rgb(245, 2, 136);
    color: rgb(255, 0, 85);;
    margin: auto;
    margin-right: 20px;
    margin-left: 50px;
    padding: 20px;
    width: 500px;
    height: 200px;
    border-radius: 10px;
}
.Ariel  {
    float: right;
    background-color: rgb(253, 11, 11);
    color: rgb(170, 4, 4);
    margin: auto;
    margin-right: 50px;
    margin-left: 20px;
    padding: 20px;
    width: 500px;
    height: 200px;
    border-radius: 10px;
}
span{
    color :rgb(255, 0, 0);
}
.img1{
    float: left;
    margin-right: 20px;
}
.img2 {
    float: left;
    margin-right: 20px;
}
footer {
    float: right;
    text-align: center;
    clear: both;
    background-color: rgb(250, 250, 255);
    color:rgb(55, 2, 99);    
}         
header {
    font-size: xx-large;
    margin: 50px;
}